

<table>
  <tr>
    <th><a href="/collection/byauthor/" method = "get">Author &#x25BC;</a></th>
    <th><a href="/collection/bytitle/" method = "get">Title &#x25BC;</a></th>
    <th><a href="/collection/bylocation/" method = "get">Location &#x25BC;</a></th>
    <th><a href="/collection/bystatus/" method = "get">Status &#x25BC;</a></th>
    <th>Details</th>
  </tr>
  <% @user.books.each do |book| %>
  <tr>
  <td><%= book.author %></td>
  <td><%= book.title %></td>
  <td><%= book.location %></td>
  <td class = "transform" ><%= book.status %></td>
  <td><a href="/collection/<%= book.id %>" class = "button">See deatils</a></td>
  <% end %>
  </tr>
</table>
