<p>Title: <%= @book.title %> </p>
<p>by <%= @book.author %> </p>
<p>Currently is <%= @book.location %> </p>
<p>Status: <%= @book.status %> </p>
<p>Written in <%= @book.language %></p>
<p>Comment: <%=@book.comment %></p>
  <form class = "form-inline" action="/collection/<%= @book.id %>/edit" method="get">
  <input class = "button" type="submit" value="Update">
</form>
<form class = "form-inline" action="/collection/<%= @book.id %>/delete" method="post">
  <input class= "button" type="submit" value="Delete from library">
</form>
